{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'stylesheet/main_layout.css' %}" rel="stylesheet" type="text/css">

        <title></title>
</head>
<body>

<nav>
<div class="logo">
<h2> <a href="{% url 'app-home' %}">Vigilance </a></h2>
</div>
<ul class="items">
<li><a href="{% url 'app-home' %}">Home</a></li>
<li><a href="{% url 'services-page' %}">Services</a></li>
<li><a href="{% url 'public' %}">Dashboard</a></li>
{% if user.is_authenticated %}
<li><a href="{% url 'logout' %}">Logout</a></li>
{% endif %}
</ul>
</nav>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>


